@font-face {
    font-family: 'ALSStory';
    font-weight: normal;
    font-style: normal;
    font-smooth: always;

    src: url('http://v6.top.rbk.ru/rbc_static/top-20150120_1530/styles/fonts/ALSStory_iOS/als_story_regular-webfont.eot');
    src: url('http://v6.top.rbk.ru/rbc_static/top-20150120_1530/styles/fonts/ALSStory_iOS/als_story_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://v6.top.rbk.ru/rbc_static/top-20150120_1530/styles/fonts/ALSStory_iOS/als_story_regular-webfont.woff2') format('woff2'),
    url('http://v6.top.rbk.ru/rbc_static/top-20150120_1530/styles/fonts/ALSStory_iOS/als_story_regular-webfont.woff') format('woff'),
    url('http://v6.top.rbk.ru/rbc_static/top-20150120_1530/styles/fonts/ALSStory_iOS/als_story_regular-webfont.ttf') format('truetype'),
    url('http://v6.top.rbk.ru/rbc_static/top-20150120_1530/styles/fonts/ALSStory_iOS/als_story_regular-webfont.svg#als_storyregular') format('svg');
}

/*

=====================================================================================================================
Reset CSS
=====================================================================================================================
*/
html,
body {
    border: 0;
    font-family: "ALSStory", Arial, sans-serif;
    line-height: 1.5;
}

div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
    display: block;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

table caption,
table th,
table td {
    text-align: left;
    vertical-align: middle;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

a img {
    border: 0;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
}

*::after,
*::before {
    content: '';
    position: absolute;
}

/*
=====================================================================================================================
Typograph
=====================================================================================================================
*/
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*
=====================================================================================================================
General
=====================================================================================================================
*/
body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    background: #fff;
}

* {
    font-family: 'ALSStory', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: .5em 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    margin: 0;
    text-align: left;
    color: #000;
}

a,
a:hover,
a:visited,
a:active {
    color: #000;
}

* {
    box-sizing: border-box;
}

.t-g {
    color: #b4975a;
}

::selection {
    color: #444444;
    background-color: #b4975a;
}

ol {
    font-size: 18px;
    pddding: 0px;
    margin: 1em 0px;
    list-style: decimal inside;
}

ol li {
    padding: 0;
    margin: .5em 0px;
    line-height: 1.5;
    left: 0px;
}

.container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 768px) {
    .main-contacts .contact-img-rbk {
        margin-bottom: 30px;
    }
}
@media (min-width: 768px) {
    /*.container {*/
        /*width: 750px;*/
    /*}*/
    .main-contacts .contact-img-rbk {
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    position: relative;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1;
}

.row * {
    line-height: normal;
}

[class^='col-'] {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    position: relative;
    min-height: 1px;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-6 {
    width: 49.5%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-pull-12 {
    right: 100%;
}

.col-xs-pull-11 {
    right: 91.66666667%;
}

.col-xs-pull-10 {
    right: 83.33333333%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-8 {
    right: 66.66666667%;
}

.col-xs-pull-7 {
    right: 58.33333333%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-5 {
    right: 41.66666667%;
}

.col-xs-pull-4 {
    right: 33.33333333%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-2 {
    right: 16.66666667%;
}

.col-xs-pull-1 {
    right: 8.33333333%;
}

.col-xs-pull-0 {
    right: auto;
}

.col-xs-push-12 {
    left: 100%;
}

.col-xs-push-11 {
    left: 91.66666667%;
}

.col-xs-push-10 {
    left: 83.33333333%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-8 {
    left: 66.66666667%;
}

.col-xs-push-7 {
    left: 58.33333333%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-5 {
    left: 41.66666667%;
}

.col-xs-push-4 {
    left: 33.33333333%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-2 {
    left: 16.66666667%;
}

.col-xs-push-1 {
    left: 8.33333333%;
}

.col-xs-push-0 {
    left: auto;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

.col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 49.5%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    .col-sm-pull-12 {
        right: 100%;
    }

    .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .col-sm-pull-9 {
        right: 75%;
    }

    .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .col-sm-pull-6 {
        right: 50%;
    }

    .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .col-sm-pull-3 {
        right: 25%;
    }

    .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .col-sm-pull-0 {
        right: auto;
    }

    .col-sm-push-12 {
        left: 100%;
    }

    .col-sm-push-11 {
        left: 91.66666667%;
    }

    .col-sm-push-10 {
        left: 83.33333333%;
    }

    .col-sm-push-9 {
        left: 75%;
    }

    .col-sm-push-8 {
        left: 66.66666667%;
    }

    .col-sm-push-7 {
        left: 58.33333333%;
    }

    .col-sm-push-6 {
        left: 50%;
    }

    .col-sm-push-5 {
        left: 41.66666667%;
    }

    .col-sm-push-4 {
        left: 33.33333333%;
    }

    .col-sm-push-3 {
        left: 25%;
    }

    .col-sm-push-2 {
        left: 16.66666667%;
    }

    .col-sm-push-1 {
        left: 8.33333333%;
    }

    .col-sm-push-0 {
        left: auto;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-sm-offset-9 {
        margin-left: 75%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-sm-offset-3 {
        margin-left: 25%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-6 {
        width: 49.5%;
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-4 {
        width: 33.33333333%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-1 {
        width: 8.33333333%;
    }

    .col-md-pull-12 {
        right: 100%;
    }

    .col-md-pull-11 {
        right: 91.66666667%;
    }

    .col-md-pull-10 {
        right: 83.33333333%;
    }

    .col-md-pull-9 {
        right: 75%;
    }

    .col-md-pull-8 {
        right: 66.66666667%;
    }

    .col-md-pull-7 {
        right: 58.33333333%;
    }

    .col-md-pull-6 {
        right: 50%;
    }

    .col-md-pull-5 {
        right: 41.66666667%;
    }

    .col-md-pull-4 {
        right: 33.33333333%;
    }

    .col-md-pull-3 {
        right: 25%;
    }

    .col-md-pull-2 {
        right: 16.66666667%;
    }

    .col-md-pull-1 {
        right: 8.33333333%;
    }

    .col-md-pull-0 {
        right: auto;
    }

    .col-md-push-12 {
        left: 100%;
    }

    .col-md-push-11 {
        left: 91.66666667%;
    }

    .col-md-push-10 {
        left: 83.33333333%;
    }

    .col-md-push-9 {
        left: 75%;
    }

    .col-md-push-8 {
        left: 66.66666667%;
    }

    .col-md-push-7 {
        left: 58.33333333%;
    }

    .col-md-push-6 {
        left: 50%;
    }

    .col-md-push-5 {
        left: 41.66666667%;
    }

    .col-md-push-4 {
        left: 33.33333333%;
    }

    .col-md-push-3 {
        left: 25%;
    }

    .col-md-push-2 {
        left: 16.66666667%;
    }

    .col-md-push-1 {
        left: 8.33333333%;
    }

    .col-md-push-0 {
        left: auto;
    }

    .col-md-offset-12 {
        margin-left: 100%;
    }

    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-md-offset-9 {
        margin-left: 75%;
    }

    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-md-offset-6 {
        margin-left: 50%;
    }

    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-md-offset-3 {
        margin-left: 25%;
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666667%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666667%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 49.5%;
    }

    .col-lg-5 {
        width: 41.66666667%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666667%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }

    .col-lg-pull-12 {
        right: 100%;
    }

    .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .col-lg-pull-9 {
        right: 75%;
    }

    .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .col-lg-pull-6 {
        right: 50%;
    }

    .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .col-lg-pull-3 {
        right: 25%;
    }

    .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .col-lg-pull-0 {
        right: auto;
    }

    .col-lg-push-12 {
        left: 100%;
    }

    .col-lg-push-11 {
        left: 91.66666667%;
    }

    .col-lg-push-10 {
        left: 83.33333333%;
    }

    .col-lg-push-9 {
        left: 75%;
    }

    .col-lg-push-8 {
        left: 66.66666667%;
    }

    .col-lg-push-7 {
        left: 58.33333333%;
    }

    .col-lg-push-6 {
        left: 50%;
    }

    .col-lg-push-5 {
        left: 41.66666667%;
    }

    .col-lg-push-4 {
        left: 33.33333333%;
    }

    .col-lg-push-3 {
        left: 25%;
    }

    .col-lg-push-2 {
        left: 16.66666667%;
    }

    .col-lg-push-1 {
        left: 8.33333333%;
    }

    .col-lg-push-0 {
        left: auto;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-lg-offset-9 {
        margin-left: 75%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-lg-offset-3 {
        margin-left: 25%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-lg-offset-0 {
        margin-left: 0;
    }
}

.top_line {
    background: #696969 url('/img/i/topbg.png') repeat-x top;
    background: -webkit-linear-gradient(to bottom, #000000, #696969);
    background: -moz-linear-gradient(to bottom, #000000, #696969);
    background: -o-linear-gradient(to bottom, #000000, #696969);
    background: linear-gradient(to bottom, #000000, #696969);
    width: 100%;
    padding: .5em 0;
    text-align: center;
}

.top_line img {
    position: relative;
    top: 6px;
}

.top_info {
    margin: 3em 0px 80px 0px;

}

.top_info.main p {
    padding: 1em 0;
}
.top_info.main {
    margin: 2em 0 4em 0;
}

.brand {
    text-align: center;
    font-size: 46px;
    line-height: 1;
    color: #000;
    font-weight: bold;
    letter-spacing: -2px;
}

.brand.main {
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -0.5;
    line-height: 1;
    color: #000;
}

.award {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .award {
        margin: 32px 0;
    }

    .main_top_menu nav ul {
        text-align: center;
    }
}

.main_top_menu nav ul {
    font: 14px;
    text-align: justify;

    /* Обнуляем для родителя*/
    line-height: 0;
    font-size: 1px; /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom: 1;
}

.main_top_menu nav ul li {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    text-align: left;
    margin: 1em 0 .2em 0;

    /* Востанавливаем у потомков, кроме последнего*/
    line-height: normal;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;

    /* эмуляция inline-block для IE6-7*/
/ / display : inline;
/ / zoom : 1;
}

.main_top_helper {
    font-size: 0;
    text-align: left;
    display: inline-block;
    visibility: hidden;
    text-align: left;
    width: 100%;
    line-height: 0;
    height: 0px;
    margin: 0px;

    /* Без него в Opera будет отступ под элементами */
    vertical-align: top;

    /* эмуляция inline-block для IE6-7*/
/ / display : inline;
/ / zoom : 1;
}

.main_top_menu nav ul a {
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 0 0 1px 0;
}
.main_top_menu nav ul a:hover {
    color:#b4975a;
}

.main_top_menu nav ul::after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
    position: relative;
}

.top_menu {
    /*padding: .5em 1.5em;*/
    text-align: center;
}

.top_menu nav ul {
    position: relative;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .top_menu nav ul {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .top_menu nav ul {
        text-align: center;
    }

    .top_menu nav ul li {
        width: 40%;
    }
}

.top_menu nav ul li {
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.04em;
    display: inline-block;
    margin: 0 .4em 10px .4em;
    text-align: center;
    padding: 6px;
    /*min-width: 18%;*/
}

.top_menu nav ul::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.top_menu nav ul li a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    margin: 0 4px 0 4px;
}

.top_menu nav ul li.active {
    background: #b4975a;
}

.top_menu nav ul li.active a {
    border: none;
    color: #fff;
}

.top_menu nav ul li.extra {
    position: relative;
    background: #000;
    border: none;
    z-index: 10;
    padding: .4em .6em;
    box-shadow: 1px 1px 0px #444444, 2px 2px 0px #444444, 3px 3px 0px #444444, 4px 4px 0px #444444, 5px 5px 0px #444444, 6px 6px 0px #444444, 7px 7px 0px #444444, 8px 8px 0px #444444, 9px 9px 0px #444444, 10px 10px 0px #444444;
}

.top_menu nav ul li.extra a {
    color: #fff;
    /*margin: .3em 1em;*/
    border: none;
}

.main-description {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 0;
    line-height: 0;
    letter-spacing: -1;
}

.main-description .left,
.main-description .right {
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    background: red;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding: .5em 3em;
}
/*.main-description .left {*/
    /*padding: 0;*/
/*}*/

.main-description .left {
    position: relative;
    width: 47%;
    max-height: 950px;
    border-right: 2px solid #fff;
    overflow: hidden;
    background-color: #000;
    /*background: url('/img/i/gal_bg.gif') top right;*/
}

/*#################### Player #######################*/

/*.main-description .left .player-container  {*/

/*}*/
/*.main-description .left .player-container .player {*/
    /*height: 360px;*/
    /*background-color: #666666;*/
/*}*/
/*.player-list {*/
    /*color: #fff;*/
    /*overflow: hidden;*/
/*}*/
/*.player-list .item {*/
    /*width: 33.325%;*/
    /*height: 119px;*/
    /*background-color: #f00;*/
    /*border-top: 1px solid #000;*/
    /*border-right: 1px solid #000;*/
/*}*/
/*###################################################*/

.main-description .left .gallery {
    position: absolute;
    top: 0;
    right: 0;

    text-align: right;

    width: 145%;
    max-width: 1000px;


    font-size: 0;
    line-height: 0;
    letter-spacing: -1;
}

.main-description .left .gallery::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,.25);
    display: block;
}

.main-description .left .gallery img {
    display: inline-block;
}

.main-description .right {
    width: 53%;
    background: #b4975a;
    border-left: 2px solid #fff;
}

.main-description .right p {
    margin: 0 0 1em 0;
    line-height: 1.5;
}

.main-description .right .row p {
    margin-top: -0.5em;
    margin-left: 3em;
    color: #ffffff;
}

.main-description .big_y {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 60px;
    margin-top: 30px;
    padding-bottom: 4px;
    /*border-bottom: 1px dotted #fff;*/
    z-index: 20;
}

.main-description .reg {
    position: relative;
    background: #000;
    display: inline-block;
    border: none;
    z-index: 10;
    padding: .3em 1em;
    margin: 0 16px 16px 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 1px 1px 0px #444444, 2px 2px 0px #444444, 3px 3px 0px #444444, 4px 4px 0px #444444, 5px 5px 0px #444444, 6px 6px 0px #444444, 7px 7px 0px #444444, 8px 8px 0px #444444, 9px 9px 0px #444444, 10px 10px 0px #444444;
}

#reg_form {
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
}

#reg_form p{
    margin-bottom: 10px;
    margin-top: 2em;
}

.main-description .reg.inactive {
    background: #CBCAC6;
    color: #777;
    box-shadow: 1px 1px 0px #CBCAC6,
    2px 2px 0px #CBCAC6,
    3px 3px 0px #CBCAC6,
    4px 4px 0px #CBCAC6,
    5px 5px 0px #CBCAC6,
    6px 6px 0px #CBCAC6,
    7px 7px 0px #CBCAC6,
    8px 8px 0px #CBCAC6,
    9px 9px 0px #CBCAC6,
    10px 10px 0px #CBCAC6;
}

.main-description form {
    padding: 1em 0;
    font-size: 18px;
    text-align: left;
}

.main-description form [class^="col"] {
    vertical-align: middle;
    font-size: 18px;
}

.main-description form input {
    width: 100%;
    border: none;
    padding: 9px;
    margin: 10px 0;
    vertical-align: middle;
    font-size: 18px;
    font-family: ALSStory,Tahoma,sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.main-description form .captcha {
    margin-bottom: 16px;
}

.main-description form .captcha input {
    width: 100px;
}

.main-description form .captcha * {
    vertical-align: middle;
}

.main-description form .cap_upd {
    cursor: pointer;
    display: inline-block;
}

.main-description form .cap_upd span {
    border-bottom: 1px dotted #444444;
    margin: 4px;
    font-size: 14px;
}

.main-description input[type="checkbox"] {
    display: none;
}

.main-description input[type="checkbox"]:checked + label {
    background: #ffffff url('/img/i/checked.png') no-repeat center;
}

.main-description input[type="checkbox"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #fff;
    cursor: pointer;
}

.news-slider {
    margin: 64px 0;
    /*max-height: 400px;*/
    overflow: hidden;
}

.news-slider h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #b4975a;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.news-slider h3 {
    display: block;
}

.news-slider h3 a {
    line-height: 1.7;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
}

.news-slider h5 {
    margin: 1em 0;
}

.news-slider .h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #b4975a;
    font-size: 32px;
    font-weight: 700;
    color: #000;
    line-height: 38px;
    padding: 0;
}

.news-slider .slider {
    width: 100%;
    overflow: hidden;
}

.news-slider .slider .item {
    padding: 0 1% 0 0;
    line-height: 1.5;
}

.news-slider .slider p {
    font-size: 16px;
    line-height: 24px;
}

.news-slider .slider .item:after {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: block;
    height: 32px;
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.news-slider .button {
    position: absolute;
    width: 32px;
    height: 60px;
    top: 50%;
    margin-top: -80px;
    cursor: pointer;
    z-index: 100; /* Изменение 12.02.15 */
}

.news-slider .button.left {
    left: -61px;
    opacity: 0.3;
}
.news-slider .button.left.slick-disabled,
.news-slider .button.left.slick-disabled:hover,
.news-slider .button.right.slick-disabled:hover,
.news-slider .button.right.slick-disabled {
    opacity: 0;
}
.news-slider .button.right {
    right: -48px;
    opacity: 0.3;
}
.news-slider .button.left:hover,
.news-slider .button.right:hover {
    opacity: 1;
}

@media screen and (max-width: 1281px) {
    .news-slider .slider .item {
        padding: 0 1.2% 0 1.2%; /* Изменение 12.02.15 */
        line-height: 1.5;
    }

    .news-slider .button.left {
        left:0px;
    }

    .news-slider .button.right {
        right:0px;
    }
}

.main-about {
    margin-top: 5em;
}

.main-about h1 {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #b4975a;
    line-height: 38px;
}

.main-about .h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #b4975a;
    font-size: 32px;
    font-weight: 700;
    color: #000;

}

.main-about p {
    line-height: 1.5;
    margin: 1em 0;
    padding: 0 2em 0 0;
}

.jury-slider {
    width: 100%;
    padding: 3em 0 4em 0;
    background: #b4975a;
}

.jury-slider h1 {
    line-height: 1;
    display: inline-block;
    margin-bottom: 1em;
    /*padding-bottom: 6px;*/
    border-bottom: 1px solid #4c4c4c;
    line-height: 38px;
}

.jury-slider .h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(107, 107, 107, 0.61);
    font-size: 32px;
    font-weight: 700;
    color: #000;
    line-height: 38px;
}

.jury-slider img {
    max-width: 95%;
}

.jury-slider span {
    font-size: 18px;
    display: inline-block;
    padding: 2px 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.jury-slider .all {
    margin-top: 2em;

}

.jury-slider .reg {
    position: relative;
    background: #000;
    border: none;
    z-index: 10;
    padding: .3em 1em;
    margin: 2em 0;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 1px 1px 0px #444444, 2px 2px 0px #444444, 3px 3px 0px #444444, 4px 4px 0px #444444, 5px 5px 0px #444444, 6px 6px 0px #444444, 7px 7px 0px #444444, 8px 8px 0px #444444, 9px 9px 0px #444444, 10px 10px 0px #444444;
    color: #fff;
    padding: .5em 1em;
    margin: 32px 0;
    vertical-align: middle;
}

.jury-slider .reg.inactive {
    background: #CBCAC6;
    color: #777;
    box-shadow: 1px 1px 0px #CBCAC6,
    2px 2px 0px #CBCAC6,
    3px 3px 0px #CBCAC6,
    4px 4px 0px #CBCAC6,
    5px 5px 0px #CBCAC6,
    6px 6px 0px #CBCAC6,
    7px 7px 0px #CBCAC6,
    8px 8px 0px #CBCAC6,
    9px 9px 0px #CBCAC6,
    10px 10px 0px #CBCAC6;
}

.jury-slider .reg::after {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 20px;
    height: 20px;
    background: transparent url('/img/i/next.png') no-repeat center;
    vertical-align: middle;
}

.jury-slider .button {
    position: absolute;
    width: 32px;
    height: 60px;
    top: 50%;
    margin-top: -80px;
    cursor: pointer;
}

.jury-slider .button.left {
    left: -48px;
    opacity: 0.5;
}

.jury-slider .button.right {
    right: -48px;
    opacity: 0.5;
}
.jury-slider .button.left:hover,
.jury-slider .button.right:hover {
    opacity: 1;
}
.jury-slider .button.left.slick-disabled,
.jury-slider .button.left.slick-disabled:hover,
.jury-slider .button.right.slick-disabled:hover,
.jury-slider .button.right.slick-disabled {
    opacity: 0;
}

.main-partners {
    padding: 3em 0 1em 0;
}

.main-partners h1 {
    line-height: 1;
    display: inline-block;
    margin-bottom: .5em;
    padding-bottom: 6px;
    border-bottom: 1px solid #4c4c4c;
}

.main-partners .h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #b4975a;
    font-size: 32px;
    font-weight: 700;
    color: #000;
}

.main-partners [class^='col'] {
    text-align: center;
    vertical-align: middle;
}

.main-partners img {
    max-width: 80%;
    max-height: 64px;
    vertical-align: middle;
    margin: 3em 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

.main-partners img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
}

.main-partners img::after {
    display: inline;
    position: relative;
    height: 100%;
    vertical-align: middle;
}

.main-contacts {
    background-color: #e5f8f3;
    padding: 3em 0 0 0;
    font-size: 18px;
    line-height: 1.5;
}

.main-contacts h1 {
    margin-bottom: 1em;
    font-weight: 900;
    margin-top: 0px;
}

.main-contacts h3 {
    margin: 0px;
}

.main-contacts span {
    display: block;
}

.main-contacts .mail {
    display: block;
    text-decoration: underline;
}

.main-contacts .row div span {
    font-size: 18px;
    line-height: 1.5em;
}
.contact-item {
    margin-bottom: 40px;
}
.vid_gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* theme: "light" */
}
.vid_gallery .play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/img/v_gal/play.png') no-repeat top left;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
}
.vid_gallery .play:hover {
    background: transparent url('/img/v_gal/play_h.png') no-repeat top left;
}
.vid_gallery .player {
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #000;
    text-align: center;
}
.vid_gallery .player .cont {
    width: 100%;
    min-height: 320px;
    height: 320px;
    overflow: hidden;
}
.vid_gallery .player .cont .video_cont {
    max-height: 100%;
    overflow: hidden;
}
.vid_gallery .player .cont img {
    display: inline-block;
    max-height: 100%;
}
.vid_gallery .list {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.vid_gallery .list .item {
    position: relative;
    display: inline-block;
    width: 33.3333333%;
    height: 160px;
    cursor: pointer;
    overflow: hidden;
    background: #000;
    text-align: center;
    border: 1px solid #000;
    border-collapse: collapse;
}
.vid_gallery .list .item.video {
    position: relative;
    height: 160px;
}
.vid_gallery .list .item.video::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url('/img/v_gal/play_min.png') no-repeat top left;
    z-index: 50;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.vid_gallery .list .item.video:hover::before {
    background: transparent url('/img/v_gal/play_min_h.png') no-repeat top left;
}
@media screen and (max-width: 1100px) {
    .vid_gallery .list .item,
    .vid_gallery .list .item.video {
        height: 190px;
        width: 49.99999%;
    }
}
@media screen and (max-width: 768px) {
    .vid_gallery .list .item,
    .vid_gallery .list .item.video {
        height: 120px;
        width: 49.99999%;
    }
}
.vid_gallery .list .item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #b4975a;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.vid_gallery .list .item:hover::after,
.vid_gallery .list .item.selected::after {
    content: '';
    opacity: .6;
}
.vid_gallery .list .item img {
    max-height: 100%;
}
.vid_gallery .list .item .video_cont {
    width: 100%;
    overflow: hidden;
}
.vid_gallery #mCSB_1_container {
    margin-right: 0px;
}
.vid_gallery .mCSB_scrollTools {
    opacity: 1;
    width: 8px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_draggerRail {
    width: 6px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 6px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.vid_gallery .mCS-light.mCSB_scrollTools_horizontal .mCSB_draggerRail,
.vid_gallery .mCS-light.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
    width: 100%;
    height: 4px;
    margin: 6px auto;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.85);
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -32px 0;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -32px -20px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -40px -40px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -40px -56px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonUp {
    background-position: -112px 0;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonDown {
    background-position: -112px -20px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonLeft {
    background-position: -120px -40px;
}
.vid_gallery .mCS-light.mCSB_scrollTools .mCSB_buttonRight {
    background-position: -120px -56px;
}

/*
|
|
|
18.01.2015 - Scrollbar
|
|
|
*/
select#registrationform-nomination_id {
    position: absolute;
    display: none;
    top: 0px;
    opacity: 0;
}

.nomi_select .select {
    width: 100%;
    border: 1px solid #b4975a;
    border-bottom: none;
    padding: 9px;
    margin: 10px 0 0 0;
    vertical-align: middle;
    background: #fff;
    display: inline-block;
    z-index: 25;
    cursor: pointer;
}

.nomi_select .select::after {
    content: '';
    position: absolute;
    top: 28px;
    right: 15px;
    border: 8px solid transparent;
    border-top: 8px solid #b4975a;
    border-bottom: 0px;
}

.nomi_select .select.active::after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nomi_select .list {
    background: #fff;
    border: 1px solid #b4975a;
    border-top: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    max-height: 250px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 20;
}

.nomi_select .list ul {
    list-style: none;
}

.nomi_select .list ul li {
    padding: 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nomi_select .list ul li:hover {
    background: #c4ad7d;
}

.nomi_select .list::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    background: -webkit-linear-gradient(to bottom, transparent, #ffffff);
    background: -moz-linear-gradient(to bottom, transparent, #ffffff);
    background: -o-linear-gradient(to bottom, transparent, #ffffff);
    background: linear-gradient(to bottom, transparent, #ffffff);
}

.about {
    font-family: 'Carrois Gothic';
}

.about a {
    font-weight: bold;
    padding-bottom: 1px;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.about p {
    margin-bottom: 4px;
}

.levels {
    font-family: 'Carrois Gothic';
    margin: 4em 0;
}

.levels .rows {
    font-size: 0;
    line-height: 0;
    letter-spacing: -1;
}

.levels * {
    line-height: normal;
}

.levels h1 {
    margin-bottom: .5em;
}

.levels .level {
    padding: 1em;
    vertical-align: top;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 40px;
    letter-spacing: normal;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.levels .level span {
    line-height: normal;
    display: block;
}

.levels .level a {
    display: inline;
    line-height: 1.3;
    padding-bottom: 0px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    font-size: 18px;
}


.levels .level:hover a {
    padding-bottom: 0px;
    border-bottom: 1px solid #927942;
}
.levels .level a.removeunderline,
.levels .level:hover a.removeunderline {
    border-bottom: none;
}

.levels .level h2 {
    margin: 0;
    padding: 0;
}

.levels .level .date {
    font-size: 12px;
    /*margin: 1em 0;*/
    margin-bottom: 8px;
    margin-top: 8px;
}

.levels .level .stat {
    font-size: 12px;
    width: 60%;
    margin-bottom: 8px;
    margin-top: 8px;
    line-height: 18px;
}
.levels .level h2 {
    font-size: 32px;
}

/*.levels .level:hover ,*/
.levels .level.current {
    background: #b4975a;
}

/*.levels .level:hover h2,*/
/*.levels .level:hover .date,*/
.levels .level.current h2,
.levels .level.current .date {
    color: #fff;
}

.levels .disabled {
    color: #ccc;
}

.levels .disabled a {
    color: #ccc;
}

.levels .disabled a:hover,
.levels .disabled a:visited {
    color: #ccc;
}

.last-winners {
    display: inline-block;
    margin: 2em 0;
    /*padding-bottom: 2px;*/
    font-size: 24px;
    line-height: 28px;
    border-bottom: 1px solid #ccc;
}

.nominees {
    margin: 0 0 0 0;
}

.nominees h1 {
    padding: 0 0 30px 0;
}
.nominees h2 {
    margin: 0px;
    line-height: 18px;
    margin-bottom: 20px;
}

.nominees .logo {
    height: 100px;
    margin: 1em 0;
}

.nominees .logo img {
    max-height: 100%;
}

.nominees [class^='col-md'] {
    margin-bottom: 40px;
    padding-right: 40px;
}

.nominees .item {
    background: transparent;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nominees .item p {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
}

.nominees .item a {
    color: #000;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nominees .item a:hover {
    color: #b4975a;
}

.jury {
    padding-top: 2em;
}

.jury .member {
    margin-bottom: 6em;
}

.jury .member h2 {
    margin: 0px;
    font-weight: bold;
}

.jury .member p {
    margin: .2em 0;
    line-height: 1.5;
    font-weight: 100;
}

.jury .member img {
    position: relative;
    max-width: 95%;
    height: auto;
}

.news_preview {
    margin: 0 0 90px 0;
}

.news_preview .meta {
    margin: 15px 0 18px 0;
    font-size: 12px;
    font-weight: bold;
}

.news_preview .meta span {
    margin-right: 2em;
}

.news_preview .meta a {
    color: #222;
    border-bottom: 1px solid #444444;
}

.news_preview .n_info {
    margin: 0;
    padding: 0;
    padding-right: 1em;
}

.news_preview .n_info p {
    position: relative;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    /*margin: 0px 0px 20px 0px;*/
    /*margin-bottom: 1em;*/
}

.news_preview .n_info .white-gradient {
    width: 100%;
    position: absolute;
    bottom: 77px;
    left: 0px;

    display: block;
    height: 32px;
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}

.news_preview .n_info .read_full {
    color: #000;
    border-bottom: 1px dotted #444444;
    font-size: 16px;
}
.news_preview .n_info .hide-news {
    font-weight: 600;
}

.news_preview .n_img {
    margin: 0;
}

.partners {
    margin-top: 2em;
}

.partners p {
    line-height: 1.5;
}

.partners h1 {
    margin: 1em 0;
}

.partners .h1 {
    display: inline-block;
    margin: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #b4975a;
    font-size: 32px;
    font-weight: 700;
    color: #000;

}

.partners .logo {
    height: 100px;
    margin: 1em 0;
}

.partners .logo img {
    max-height: 100%;
}

.partners [class^='col-md'] {
    margin-bottom: 4em;
    padding-right: 2em;
}

.winners p {
    font-size: 15px;
    line-height: 1.5;
}

.winners .row,
.winners .cat {
    margin-bottom: 6em;
}

.winners .years {
    font-size: 18px;
    padding: 16px 0;
    line-height: 2;
    color: #000;
}

.winners .years a {
    padding: 2px 2px;
    margin: 0px 5px;
    border-bottom: 1px dotted #444444;
    vertical-align: middle;
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.winners .years a.active {
    padding: 10px;
    color: #fff;
    background: #000;
}

.winners h2 {
    margin: 1em 0;
}

.winners [class^='col-'] {
    padding: 0 2.5em 3em 0;
}

.winners [class^='col-'] h3 {
    margin: 0;
}

.winners .medal {
    font-size: 12px;
    display: inline-block;
    margin: 0 0 1.5em 0;
    padding: .5em 1em;
    color: #fff;
}

.winners .medal.gold {
    background: #b4975a;
}

.winners .medal.silver {
    background: #a7a9ac;
}

.winners .medal.bronze {
    background: #693934;
}

footer {
    padding: 1em 0;
    color: #000;
    background: #b4975a;
    min-height: 100px;
}

footer .copyright {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    display: inline-block;
    min-width: 200px;
    width: 20%;
    margin: 1em;
    vertical-align: top;
}
footer .copyright.copyinfotext {
    width: 60%;
}
footer .copyright.copyinfotext a {
    border-bottom: 1px solid #333333;
}
footer .copyright::before {
    font-size: 16px;
    position: absolute;
    top: 0;
    left: -18px;
    display: block;
    content: '©';
}

footer p {
    font-size: 16px;
    color: #000;
}

/*#####################################################*/
.has-error .control-label {
    color: rgb(151, 0, 28);
}

.has-error .form-control {
    background-color: rgba(255, 0, 47, 0.65);
    color: #000;
}

.has-error .help-block {
    color: rgb(151, 0, 28);
    font-size: 12px;
}

#content-html-block {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}
* html #content-html-block {
    height: 100%;

}
footer {
    position: relative;
    /*height: 100px;*/

    margin-top: -100px;
    /*top:-200px;*/
}
.vk-share-button {
    display: inline-block; position: relative; top:4px; padding: 0px 0 0 10px;
}

.vk-share-button table tr td a {
    height: 21px !important;
}
.more-news a {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}

.container-text {

}
.text-content a,
.container-text a {
    border-bottom: 1px solid #ccc;
}

.container-text p {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 27px;
}
.container-text ul {
    list-style: none;
}
.container-text ul li,
.container-text ol li{
    line-height: 40px;
}
/*.registration-intro p {*/
    /*padding: 0;*/
    /*margin: 0;*/
/*}*/
span.dot { position:absolute; text-indent: -1000em; }
span.ruble { text-transform:uppercase;}
span.hyphen:after { content: '\2013'; left: -0.2ex; top: 0.17ex}
span.hyphen { position:absolute; margin:.1ex 0 0; behavior: expression(this.innerHTML = '&ndash;'); }


strong.title{
    font-size: 32px;
    font-weight: bold;
}

.levels .row.levels-list-block {
    position: relative;
    left: -16px;
}
/*#####################################################*/
